<div class="spanchor_wrap en">
    <p class="lineup">
        <img src="<%= rootURL %>/assets/img/anchor/lineup.png" alt="">
    </p>
    <ul class="spanchor_list">
        <li class="anchor_1">
            <a href="#sec_1">
                <span class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor/anchor_kichen.png" alt="">
                </span>
                <p class="categoly">
                    KITCHEN
                </p>
            </a>
        </li>
        <li class="anchor_2">
            <a href="#sec_2">
                <span class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor/anchor_home.png" alt="">
                </span>
                <p class="categoly">
                    HOME GOODS
                </p>
            </a>
        </li>
        <li class="anchor_3">
            <a href="#sec_3">
                <span class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor/anchor_general.png" alt="">
                </span>
                <p class="categoly">
                    GENERAL GOODS
                </p>
            </a>
        </li>
        <li class="anchor_4">
            <a href="#sec_4">
                <span class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor/anchor_fashion.png" alt="">
                </span>
                <p class="categoly">
                    FASHION
                </p>
            </a>
        </li>
    </ul>
</div>

<div class="animation_wrap animation_1">
    <div class="chara table">
        <img src="<%= rootURL %>/assets/img/animation_1/table.png" alt="">
    </div>
    <div class="chara teruko">
        <img src="<%= rootURL %>/assets/img/animation_1/teruko.png" alt="">
    </div>
    <div class="chara tommy">
        <img src="<%= rootURL %>/assets/img/animation_1/tommy.png" alt="">
    </div>
    <div class="chara useko">
        <img src="<%= rootURL %>/assets/img/animation_1/usako.png" alt="">
    </div>
</div>