<div class="allitems en">
    <!-- 先見せ期間 -->
    <a href="https://www.dot-st.com/studioclip/disp/itemlist/?dispNo=002005130&stock=0" target="_blank">
    <!-- 実売期間 -->
    <!-- <a href="https://www.dot-st.com/studioclip/disp/itemlist/?dispNo=002005130" target="_blank"> -->
        ALL ITEMS
        <span class="arrow">
            <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
        </span>
    </a>
</div>


<div class="about_wrap">
    <p class="coji-about_ttl">
        <img src="<%= rootURL %>/assets/img/about/about_cojicoji.png" alt="">
    </p>
    <p class="about_cojicoji">
        コジコジとは
    </p>
    <div class="coji_inner">
        <div class="about_ill1">
            <img src="<%= rootURL %>/assets/img/about/about.png" alt="">
        </div>
        <div class="about_ill2">
            <img src="<%= rootURL %>/assets/img/about/about_2.png" alt="">
        </div>
        <div class="about_ill3">
            <img src="<%= rootURL %>/assets/img/about/about_3.png" alt="">
        </div>
    </div>
    <p class="about_txt">
        さくらももこ原作の、メルヘンな世界観と大人もドキっとするような含蓄ある言葉やナンセンスなギャグが人気の「コジコジ」。アニメ放送から20年以上経った現在でも、その作品の奥深さが注目を集めています。
    </p>
</div>