<footer class="footer">
    <div class="footer_chara-wrap">
        <div class="chara footer_cojicoji">
            <img src="<%= rootURL %>/assets/img/footer/cojicoji.png" alt="">
        </div>
        <div class="chara footer_jiro">
            <img src="<%= rootURL %>/assets/img/footer/jiro.png" alt="">
            
        </div>
        <div class="chara footer_usako">
            <img src="<%= rootURL %>/assets/img/footer/usako.png" alt="">
        </div>
        <div class="chara footer_tommy">
            <img src="<%= rootURL %>/assets/img/footer/tommy.png" alt="">
        </div>
        <div class="chara footer_teruko">
            <img src="<%= rootURL %>/assets/img/footer/teruko.png" alt="">
        </div>
    </div>
    <div class="footer_logo">
        <img src="<%= rootURL %>/assets/img/logo.png" alt="">
    </div>

    <ul class="sns">
        <li class="link_shoplist">
            <div class="link_inner">
                <a href="" target="_blank">
                    <img src="<%= rootURL %>/assets/img/footer/shoplist.png" alt="">
                </a>
            </div>
        </li>
        <li class="link_online">
            <div class="link_inner">
                <a href="" target="_blank">
                    <img src="<%= rootURL %>/assets/img/footer/online.png" alt="">
                </a>
            </div>
        </li>
        <li class="link_staff">
            <div class="link_inner">
                <a href="" target="_blank">
                    <img src="<%= rootURL %>/assets/img/footer/staff.png" alt="">
                </a>
            </div>
        </li>
        <li class="link_insta">
            <div class="link_inner">
                <a href="" target="_blank">
                    <img src="<%= rootURL %>/assets/img/footer/insta.png" alt="">
                </a>
            </div>
        </li>
    </ul>
    <p class="copyright">
        Copyright © Adastria Co., Ltd. All rights reserved.
    </p>
</footer>