
    <div class="modal modal_1" data-modal="1">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    餃子皿 ¥2,990（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630077" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    炒飯皿 ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630076" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    レンゲ ¥1,100（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630078" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    グラス ¥1,100（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=632430" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    せいろ ¥2,640（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=622039" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal modal_2" data-modal="2">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    クーラーバッグ ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    ペットボトルホルダー<br>600ml ¥2,200（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630077" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    ペットボトルホルダー<br>350ml ¥1,890（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630076" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    保冷剤L ¥880（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630078" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    保冷剤S ¥1,100（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=632430" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    せいろ  ¥2,640（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=622039" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal modal_3" data-modal="3">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    Wウォール耐熱マグ<br>¥2,790（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=635523" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    ガラスティーポット<br>¥3,300（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=632431" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    さがらコースター <br>¥1,210（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=601549" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal modal_4" data-modal="4">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    イラストマット ¥6,990（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=611613" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal modal_5" data-modal="5">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname height">
                    ふっくら雲ミラー<br>¥2,790（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=632922" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    海の中くるくる時計<br>¥4,990（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607437" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    マトリョーシカ<br>¥4,990（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607438" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal modal_6" data-modal="6">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    PCケース ¥3,890（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607650" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    マウスパッド ¥1,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=612318" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    ワイヤレスイヤフォン<br>¥3,990（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631330" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    モバイルバッテリー<br>¥3,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631329" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal modal_7" data-modal="7">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname height">
                    腹巻＆ヘアバンド<br>¥3,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=612317" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    すやすや動くぬいぐるみ<br>¥5,790（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=612769" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="modal modal_8" data-modal="8">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    ネイルシール ¥1,190（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621545" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal modal_9" data-modal="9">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname height">
                    キラキラ絵馬キーチャーム<br>¥1,290（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=625335" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname height">
                    マスコット付き御守り<br>¥1,290（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621556" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    御朱印ノート ¥3,300（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631729" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
