<div class="left-inner">

    <div class="pc_logo">
        <img src="<%= rootURL %>/assets/img/logo.png" alt="">
    </div>
    <div class="icon_wrap icon_left">
        <div class="icon mirror_icon">
            <img src="<%= rootURL %>/assets/img/icon/mirror_icon.png" alt="">
        </div>
        <div class="icon tv_icon">
            <img src="<%= rootURL %>/assets/img/icon/tv_icon.png" alt="">
        </div>
        <div class="icon closet_icon">
            <img src="<%= rootURL %>/assets/img/icon/closet_icon.png" alt="">
        </div>
        <div class="icon book_icon">
            <img src="<%= rootURL %>/assets/img/icon/book_icon.png" alt="">
        </div>
    </div>
    <%- include('../_contents/_pccountdown.ejs') %>
</div>