<div class="right-inner">
    <div class="pc_lineup-wrap">
        <p class="pc_lineup">
            <img src="<%= rootURL %>/assets/img/anchor/lineup.png" alt="">
        </p>
        <ul class="pc_anchor en">
            <li>
                <a href="">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/icon/icon_kichen.png" alt="">
                    </span>
                    <p>
                      KICHEN  
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/icon/icon_home.png" alt="">
                    </span>
                    <p>
                      HOME GOODS  
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/icon/icon_general.png" alt="">
                    </span>
                    <p>
                      GENERAL GOODS  
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/icon/icon_fashion.png" alt="">
                    </span>
                    <p>
                      FASHION  
                    </p>
                </a>
            </li>
        </ul>
        <div class="pc_allitems en">
            <a href="" target="_blank">
                ALL ITEMS
                <span class="arrow">
                    <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                </span>
            </a>
        </div>
    </div>
    
    <div class="icon_wrap icon_right">
        <div class="icon pc_icon">
            <img src="<%= rootURL %>/assets/img/icon/pc_icon.png" alt="">
        </div>
        <div class="icon bed_icon">
            <img src="<%= rootURL %>/assets/img/icon/bed_icon.png" alt="">
        </div>
        <div class="icon flower_icon">
            <img src="<%= rootURL %>/assets/img/icon/flower_icon.png" alt="">
        </div>
        <div class="icon sofa_icon">
            <img src="<%= rootURL %>/assets/img/icon/sofa_icon.png" alt="">
        </div>
    </div>

</div>