<div class="right-inner">
    <div class="pc_lineup-wrap">
        <p class="pc_lineup">
            <img src="<%= rootURL %>/assets/img/anchor/lineup.png" alt="">
        </p>
        <ul class="pc_anchor en">
            <li>
                <a href="#sec_1">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/anchor/anchor_kichen.png" alt="">
                    </span>
                    <p>
                      KICHEN  
                    </p>
                </a>
            </li>
            <li>
                <a href="#sec_2">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/anchor/anchor_home.png" alt="">
                    </span>
                    <p>
                      HOME GOODS  
                    </p>
                </a>
            </li>
            <li>
                <a href="#sec_3">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/anchor/anchor_general.png" alt="">
                    </span>
                    <p>
                      GENERAL GOODS  
                    </p>
                </a>
            </li>
            <li>
                <a href="#sec_4">
                    <span class="anchor_icon">
                        <img src="<%= rootURL %>/assets/img/anchor/anchor_fashion.png" alt="">
                    </span>
                    <p>
                      FASHION  
                    </p>
                </a>
            </li>
        </ul>
        <div class="pc_allitems en">
            <!-- 先見せ期間 -->
            <a href="https://www.dot-st.com/studioclip/disp/itemlist/?dispNo=002005130&stock=0" target="_blank">
            <!-- 実売期間 -->
            <!-- <a href="https://www.dot-st.com/studioclip/disp/itemlist/?dispNo=002005130" target="_blank"> -->
                ALL ITEMS
            </a>
        </div>
    </div>
    
    <div class="icon_wrap icon_right">
        <div class="icon pc_icon">
            <img src="<%= rootURL %>/assets/img/icon/pc_icon.png" alt="">
        </div>
        <div class="icon bed_icon">
            <img src="<%= rootURL %>/assets/img/icon/bed_icon.png" alt="">
        </div>
        <div class="icon flower_icon">
            <img src="<%= rootURL %>/assets/img/icon/flower_icon.png" alt="">
        </div>
        <div class="icon sofa_icon">
            <img src="<%= rootURL %>/assets/img/icon/sofa_icon.png" alt="">
        </div>
    </div>

</div>