<div class="top">
    <div class="top_mv">
        <img src="<%= rootURL %>/assets/img/mv/mv.gif" alt="">
    </div>
    <div class="top_cojicoji chara">
        <img src="<%= rootURL %>/assets/img/top/cojicoji.png" alt="">
    </div>
    <div class="top_usako chara">
        <img src="<%= rootURL %>/assets/img/top/usako.png" alt="">
    </div>
    <div class="top_tommy chara">
        <img src="<%= rootURL %>/assets/img/top/tommy.png" alt="">
    </div>
</div>
<div class="top_logo">
    <img src="<%= rootURL %>/assets/img/top/logo.png" alt="">
</div>
<div class="top_chara">
    <div class="top_korosuke chara">
        <img src="<%= rootURL %>/assets/img/top/korosuke.png" alt="">
    </div>
    <div class="top_jiro">
        <img src="<%= rootURL %>/assets/img/top/jiro.png" alt="">
    </div>
    <div class="top_teruko chara">
        <img src="<%= rootURL %>/assets/img/top/teruko.png" alt="">
    </div>
</div>
<p class="lead">
    この文章はダミーですお出かけして。<br>
    ふたりの休日にそっと寄り添うのは、<br>
    ダミーですダミーですの<br>
    ちいさな幸せがつまったコラボレーション。<br>
    心ときめくアイテムを相棒に<br>
    チャーミングな一日を楽しんで。
</p>