<div class="secttl_wrap">
    <p class="num">
        <img src="<%= rootURL %>/assets/img/kitchen/01.png" alt="">
    </p>
    <p class="secttl">
        <img src="<%= rootURL %>/assets/img/kitchen/kitchen.png" alt="">
    </p>    
</div>
<div class="sec_mv" data-modal="1">
    <img src="<%= rootURL %>/assets/img/kitchen/kitchin_mv-1.png" alt="">
    <span class="button">
        <img src="<%= rootURL %>/assets/img/button.png" alt="">
    </span>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_1.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_2.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_3.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_4.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/kitchen/sec1_5.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>



<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_6.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_7.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/kitchen/sec1_8.png" alt="">
        <div class="question">
            <img src="<%= rootURL %>/assets/img/question.png" alt="">
        </div>
        <p class="release">
            1月1日 公開
        </p>
    </div>
    <div class="item_info">
        <span class="secret_name">●●●●</span>
    </div>
</div>

<div class="sec_mv" data-modal="2">
    <img src="<%= rootURL %>/assets/img/kitchen/kitchin_mv-2.png" alt="">
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_9.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_10.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/kitchen/sec1_11.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>



<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_12.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_13.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_14.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_15.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>
</div>


<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/kitchen/sec1_16.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>

<div class="animation_wrap animation_2">
    <div class="chara kamekichi">
        <img src="<%= rootURL %>/assets/img/animation_2/kamekichi.png" alt="">

    </div>
    <div class="yakan">
        <img src="<%= rootURL %>/assets/img/animation_2/yakan.png" alt="">
    </div>
</div>



<div class="sec_mv" data-modal="3">
    <img src="<%= rootURL %>/assets/img/kitchen/kitchin_mv-3.png" alt="">
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_17.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_18.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/kitchen/sec1_19.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>



<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_20.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_21.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_22.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/kitchen/sec1_23.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/kitchen/sec1_24.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>

<div class="animation_wrap animation_3">
    <div class="chara juro">
        <img src="<%= rootURL %>/assets/img/animation_3/jiro.png" alt="">

    </div>
    <div class="bed">
        <img src="<%= rootURL %>/assets/img/animation_3/bed.png" alt="">
    </div>
</div>