<div class="secttl_wrap">
    <p class="num">
        <img src="<%= rootURL %>/assets/img/general/03.png" alt="">
    </p>
    <p class="secttl">
        <img src="<%= rootURL %>/assets/img/general/general.png" alt="">
    </p>
</div>
<div class="sec_mv">
    <img src="<%= rootURL %>/assets/img/general/general_mv-1.png" alt="">
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_1.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_2.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_3-secret.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_4.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_5.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_6.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

</div>



<div class="sec_mv">
    <img src="<%= rootURL %>/assets/img/general/general_mv-2.png" alt="">
</div>

<div class="item_flex">

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_7.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_8.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_9.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_10.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>



    <div class="item_wrap single">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_11.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    



<div class="animation_wrap animation_5">
    <div class="chara okame">
        <img src="<%= rootURL %>/assets/img/animation_5/okame.png" alt="">
    </div>
    <div class="chara pero">
        <img src="<%= rootURL %>/assets/img/animation_5/pero.png" alt="">
    </div>
    <div class="mirror">
        <img src="<%= rootURL %>/assets/img/animation_5/mirror.png" alt="">
    </div>
</div>