<div class="secttl_wrap">
    <p class="num en line">
        03
    </p>
    <p class="secttl en line">
        GENERAL GOODS
    </p>
</div>
<div class="sec_mv" data-modal="6">
    <img src="<%= rootURL %>/assets/img/general/general_mv-1.png" alt="">
    <span class="button">
        <img src="<%= rootURL %>/assets/img/button.png" alt="">
    </span>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_1.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                PCケース<br>
                ¥3,890（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607650" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_2.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                マウスパッド<br>
                ¥1,490（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=612318" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_3-secret.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
            <!-- <p class="itemname">
                ワイヤレスマウス<br>
                ¥3,490（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631331" target="_blank">
                    BUY
                </a>
            </div> -->
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_4.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ワイヤレスイヤフォン<br>
                ¥3,990（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631330" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_5.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                モバイルバッテリー<br>
                ¥3,490（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631329" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_6.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                刺繍トート<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607649" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

</div>



<div class="sec_mv" data-modal="7">
    <img src="<%= rootURL %>/assets/img/general/general_mv-2.png" alt="">
    <span class="button">
        <img src="<%= rootURL %>/assets/img/button.png" alt="">
    </span>
</div>

<div class="item_flex">

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_7.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ジャガードポーチ<br>
                ¥1,890（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607647" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_8.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ジャガードトートS<br>¥2,990（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=607648" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_9.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                腹巻＆ヘアバンド<br>
                ¥3,490（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=612317" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_10.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ビューン傘ケース<br>
                ¥3,990（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=642825" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>



    <div class="item_wrap single">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/general/sec3_11.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                青空ビニール傘 ¥2,590（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=626926" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    



<div class="animation_wrap animation_5">
    <div class="chara okame">
        <img src="<%= rootURL %>/assets/img/animation_5/okame.png" alt="">
    </div>
    <div class="chara pero">
        <img src="<%= rootURL %>/assets/img/animation_5/pero.png" alt="">
    </div>
    <div class="mirror">
        <img src="<%= rootURL %>/assets/img/animation_5/mirror.png" alt="">
    </div>
</div>