<div class="secttl_wrap">
    <p class="num en line">
        04
    </p>
    <p class="secttl en line">
        FASHION
    </p>
</div>
<div class="sec_mv" data-modal="8">
    <img src="<%= rootURL %>/assets/img/fashion/fashion_mv-1.png" alt="">
    <span class="button">
        <img src="<%= rootURL %>/assets/img/button.png" alt="">
    </span>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_1.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ネイルシール<br>
                ¥1,190（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621545" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_2.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ぷくぷくシール<br>
                ¥1,100（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631252" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_3.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            カラビナ付きシリコンポーチ ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>
<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_4.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                シャカシャカiPhoneケース<br>
                ¥2,090（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621558" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_5.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
            <!-- <p class="itemname">
                カスタムiPhoneケース<br>
                ¥2,790（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621548" target="_blank">
                    BUY
                </a>
            </div> -->
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_6.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                ポーチ付きスマホストラップ<br>¥2,200（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621547" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_7.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                フェイクファーボールスマホストラップ<br>
                ¥2,200（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621546" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_8.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            ミラーキーチャーム ¥1,390（税込）
        </p>
        <div class="buy en">
            <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=626937" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>

<div class="animation_wrap animation_6">
    <div class="chara couple">
        <img src="<%= rootURL %>/assets/img/animation_6/couple.png" alt="">
    </div>
    <div class="flower">
        <img src="<%= rootURL %>/assets/img/animation_6/flower.png" alt="">
    </div>
</div>

<div class="sec_mv" data-modal="9">
    <img src="<%= rootURL %>/assets/img/fashion/fashion_mv-2.png" alt="">
    <span class="button">
        <img src="<%= rootURL %>/assets/img/button.png" alt="">
    </span>
</div>

<div class="item_flex">


    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_9.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                マスコット付き御守り<br>¥1,290（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621556" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_10.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                御朱印ノート<br>
                ¥3,300（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=631729" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_11.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            キラキラ絵馬キーチャーム ¥1,290（税込）
        </p>
        <div class="buy en">
            <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=625335" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_12.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
            <!-- <p class="itemname">
                モチーフキーチャーム ¥1,290（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621544" target="_blank">
                    BUY
                </a>
            </div> -->
        </div>
    </div>

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_13.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
            <!-- <p class="itemname">
                豆本キーチャーム ¥1,100（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621557" target="_blank">
                    BUY
                </a>
            </div> -->
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_14.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            ロゴビーズキーチャーム ¥1,690（税込）
        </p>
        <div class="buy en">
            <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=621559" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>



<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_15.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                お財布ショルダー<br>
                ¥4,400（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=626948" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_16.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                刺繍コンパクト財布<br>
                ¥4,690（税込）
            </p>
            <div class="buy en">
                <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=626947" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>