<div class="secttl_wrap">
    <p class="num">
        <img src="<%= rootURL %>/assets/img/fashion/04.png" alt="">
    </p>
    <p class="secttl">
        <img src="<%= rootURL %>/assets/img/fashion/fashion.png" alt="">
    </p>
</div>
<div class="sec_mv">
    <img src="<%= rootURL %>/assets/img/fashion/fashion_mv-1.png" alt="">
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_1.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_2.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_3.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>
<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_4.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_5.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_6.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_7.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_8.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>

<div class="animation_wrap animation_6">
    <div class="chara couple">
        <img src="<%= rootURL %>/assets/img/animation_6/couple.png" alt="">
    </div>
    <div class="flower">
        <img src="<%= rootURL %>/assets/img/animation_6/flower.png" alt="">
    </div>
</div>


<div class="item_flex">


    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_9.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_10.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_11.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_12.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_13.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_wrap single">
    <div class="item_ph">
        <img src="<%= rootURL %>/assets/img/fashion/sec4_14.png" alt="">
    </div>
    <div class="item_info">
        <p class="itemname">
            小どんぶり ¥2,490（税込）
        </p>
        <div class="buy en">
            <a href="" target="_blank">
                BUY
            </a>
        </div>
    </div>
</div>



<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_15.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/fashion/sec4_16.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>