<div class="secttl_wrap">
    <p class="num">
        <img src="<%= rootURL %>/assets/img/home/02.png" alt="">
    </p>
    <p class="secttl">
        <img src="<%= rootURL %>/assets/img/home/homegoods.png" alt="">
    </p>
</div>
<div class="sec_mv" data-modal="4">
    <img src="<%= rootURL %>/assets/img/home/home_mv-1.png" alt="">
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_1.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_2.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_3.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_4.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>

<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_5.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_6.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>

</div>



<div class="sec_mv" data-modal="5">
    <img src="<%= rootURL %>/assets/img/home/home_mv-2.png" alt="">
</div>

<div class="item_flex">

    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_7.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_8.png" alt="">
            <div class="question">
                <img src="<%= rootURL %>/assets/img/question.png" alt="">
            </div>
            <p class="release">
                1月1日 公開
            </p>
        </div>
        <div class="item_info">
            <span class="secret_name">●●●●</span>
        </div>
    </div>
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_9.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_10.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>


<div class="item_flex">
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_11.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
    <div class="item_wrap double">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_12.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり<br>
                ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>
</div>
<div class="item_wrap single">
        <div class="item_ph">
            <img src="<%= rootURL %>/assets/img/home/sec2_13.png" alt="">
        </div>
        <div class="item_info">
            <p class="itemname">
                小どんぶり ¥2,490（税込）
            </p>
            <div class="buy en">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
    </div>


<div class="animation_wrap animation_4">
    <div class="chara harehare">
        <img src="<%= rootURL %>/assets/img/animation_4/harehare.png" alt="">
    </div>
    <div class="chara jonny">
        <img src="<%= rootURL %>/assets/img/animation_4/jonny.png" alt="">
    </div>
    <div class="pckun">
        <img src="<%= rootURL %>/assets/img/animation_4/pc.png" alt="">
    </div>
</div>